body{
    font-family:Arial, Helvetica, sans-serif
}

h1{
    text-align: center;
}

h2{
    color:white;
    color: blueviolet;
    text-align: center;
   
}

p{
    text-align: center;
    color: blueviolet;
}

.col{
    color: gray;
    text-align: right;
}